@media (prefers-color-scheme: light) {
    :root {
        --width: 350px;
        --height: 500px;
        --padding: 10px;
        --padding2: 20px;
        --text: rgb(41, 41, 41);
        --accent: rgb(57, 75, 88);
        --text2: rgb(255, 255, 255);
        --background: rgb(255, 255, 255);
        --invert-bool: '';
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --width: 350px;
        --height: 500px;
        --padding: 10px;
        --padding2: 20px;
        --text: rgb(255, 255, 255);
        --accent: rgb(57, 75, 88);
        --text2: rgb(255, 255, 255);
        --background: rgb(30, 30, 30);
        --invert-bool: invert();
    }
}


/* :root {
    --width: 350px;
    --height: 500px;
    --padding: 10px;
    --padding2: 20px;
    --text: rgb(41, 41, 41);
    --accent: rgb(57, 75, 88);
    --text2: rgb(255, 255, 255);
    --background: rgb(255, 255, 255);
    --invert-bool: '';
} */


html {
    width: var(--width);
    height: var(--height);
    max-width: var(--width);
    max-height: var(--height);
}
body {
    margin: 0;
    background-color: var(--background);
}
header {
    display: block;
    background-color: var(--accent);
    width: calc(var(--width) - var(--padding)*2);
    height: 75px;
    padding: var(--padding) var(--padding) calc(var(--padding)*2) var(--padding);
}
header h1 {
    text-align: center;
    font-size: 24pt;
    color: var(--text2);
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.settings {
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: var(--padding2);
    width: calc(var(--width) - var(--padding2)*2);
    height: calc(var(--height) - 75px - var(--padding)*3 - var(--padding2)*2 - 100px);
}

.settings label {
    color: var(--text);
    text-align: center;
    font-size: 14pt;
}


span.contacts {
    display: flex;
    margin: var(--padding2);
    width: var();
    height: calc(100px - var(--padding2));
    align-items: center;
    justify-content: space-between;
    color: var(--text)
}

.contacts svg {
    filter: var(--invert-bool);
    width: 30px;
    height: 30px;
}

.contacts span {
    display: flex;
    align-items: center;
}
.contacts span svg {
    padding: 10px;
}
.contacts a {
    color: var(--text)
}