@media (prefers-color-scheme: light) {
    :root {
        --width: 350px;
        --height: 500px;
        --padding: 10px;
        --padding2: 20px;
        --text: rgb(41, 41, 41);
        --accent: rgb(57, 75, 88);
        --accent2: rgb(77, 95, 108);
        --accent3: rgb(37, 55, 68);
        --text2: rgb(255, 255, 255);
        --background: rgb(255, 255, 255);
        --invert-bool: '';
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --width: 350px;
        --height: 500px;
        --padding: 10px;
        --padding2: 20px;
        --text: rgb(255, 255, 255);
        --accent: rgb(57, 75, 88);
        --accent2: rgb(77, 95, 108);
        --accent3: rgb(37, 55, 68);
        --text2: rgb(255, 255, 255);
        --background: rgb(30, 30, 30);
        --invert-bool: invert();
    }
}



html {
    width: var(--width);
    height: var(--height);
    max-width: var(--width);
    max-height: var(--height);
}
body {
    margin: 0;
    background-color: var(--background);
}
header {
    display: block;
    background-color: var(--accent);
    width: calc(var(--width) - var(--padding)*2);
    height: 75px;
    padding: var(--padding) var(--padding) calc(var(--padding)*2) var(--padding);
}
header h1 {
    text-align: center;
    font-size: 28pt;
    font-family: Tahoma;
    color: var(--text2);
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

nav {
    margin: var(--padding);
    width: calc(var(--width) - var(--padding2)*2);
    height: 20px;
}
#back {
    cursor: pointer;
}

#content {
    height: 275px;
    margin: var(--padding2);
}
#content > * {
    height: 285px;
}


#main {
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: calc(var(--width) - var(--padding2)*2);
}
#main h2 {
    text-align: center;
    color: var(--text);
    top: 0;
}
#main.hidden {
    display: none;
}

#classesbutton {
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: var(--accent);
    text-align: center;
    align-content: center;
    box-shadow: 5px 5px 1em;
    transition: all 500ms;
    margin: var(--padding)
}
#classesbutton:hover {
    background-color: var(--accent2);
    box-shadow: inset 0 0 0 0;
    transition: all 300ms;
}
#classesbutton:active {
    background-color: var(--accent3);
    box-shadow: inset 0 0 1px 2px;
    transition: all 100ms;
}
#classesbutton p {
    color: #FFFFFF;
    font-size: 14pt;
    font-family: Tahoma;
    user-select: none;
}
#classesbutton:active p {
    font-size: 18px;
}




#classes.mainhide {
    display: none;
}
#classes.active {
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: calc(var(--width) - var(--padding2)*2);
    height: calc(var(--height) - 75px - var(--padding)*3 - var(--padding2)*2 - 100px - 10px);
}

#progressbutton {
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: var(--accent);
    text-align: center;
    align-content: center;
    box-shadow: 5px 5px 5px 0;
    transition: all 500ms;
    margin: var(--padding)
}
#progressbutton:hover {
    background-color: var(--accent2);
    box-shadow: inset 0 0 0 0;
    transition: all 300ms;
}
#progressbutton:active {
    background-color: var(--accent3);
    box-shadow: inset 0 0 1px 2px;
    transition: all 100ms;
}
#progressbutton p {
    color: #ffffff;
    font-size: 14pt;
    font-family: Tahoma;
    user-select: none;
}
#progressbutton:active p {
    font-size: 18px;
}

#progress.mainhide {
    display: none;
}
#progress.active {
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: calc(var(--width) - var(--padding2)*2);
    height: calc(var(--height) - 75px - var(--padding)*3 - var(--padding2)*2 - 100px - 10px);
}

label {
    color: var(--text);
    text-align: center;
    font-size: 14pt;
}


.setting {
    display: grid;
    justify-items: center;
    margin: 10px 0;
    font-family: Tahoma;
}

.button {
   cursor: pointer;
   background-color: #FFF;
   margin: 30px 6px 0px 8px;
   width: 100px;
   height: 30px;
   align-content: center;
   border: 1px solid #000;
   border-radius: 2px;
   box-shadow: 0 0 0px 0px var(--text);
   transition: box-shadow 1s;
   align-self: center;
}
.button:hover {
    box-shadow: 0 0 5px 0px var(--text);
    transition: box-shadow 200ms;
}
.button:active {
    background-color: #AAA;
    box-shadow: 0 0 5px 2px var(--text);
    transition: box-shadow 50ms;
}
.button p {
    user-select: none;
    text-align: center;
    font-size: 15px;
    font-family: Tahoma;
}


span.contacts {
    display: flex;
    margin: var(--padding);
    width: calc(var(--width) - var(--padding)*2);
    height: 40px;
    align-items: center;
    justify-content: space-between;
    color: var(--text)
}

.contacts svg {
    filter: var(--invert-bool);
    width: 30px;
    height: 30px;
}

.contacts span {
    display: flex;
    align-items: center;
}
.contacts span svg {
    padding: 0px 10px 0px 10px;
}
.contacts a {
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}
